body {
    font-size: 16;
}

header {
    display: flex;
    justify-content: space-between;
    flex: 1 0 0;
    font-size: 150%
}

#score {
    float: right;
    font-size: 150%
}

.main {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align:center;
}

#start {
    background-color: purple;
    color: white;
    border-radius: 25px;
}

#results {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: none;
    text-align: center;
}
#results h1 {
    font-size: 200%;
    font-family: 'Bad Script', cursive;
    font-family: 'Bungee Inline', cursive;
}

#myForm input {
    margin: 2px;
}

.quiz {
    list-style-type: none;
    padding: 0;
    margin: 3rem auto;
    max-width: 90vw;
    width: 50ch;
    display: none;
    font-size: 125%
}

.quiz li {
    color: white;
    background-color: purple;
    border: 2px solid purple;
    border-radius: 25px;
}


#message, #messageWrong {
    display: none;
    width: 500px;
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
}

li:hover {
    opacity: 0.5;
}

#goBack, #clearHigh, #submit {
    background-color: purple;
    color: white;
    border-radius: 25px;
}

.highscoreList li {
    margin: 2px;
    background-color: powderblue;
    border-radius: 25px;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
}


